.row {
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.mode-icon {
  /* margin-left: 0.5em; */
  margin-right: 0.6em;
}

nb-toggle {
  margin-right: 0.5em;
}

:host ::ng-deep .toggle-label {
  margin-bottom: 0;
}

:host ::ng-deep nb-radio > label {
  padding-right: 0 !important;
}