<ng-container *ngIf="device">
  <nb-card>
    <nb-card-header>{{device.$name}}</nb-card-header>
    <nb-card-body>
      <form>
        <div class="row">
          <div class="col-sm-4"><nb-toggle [checked]="device.state === 'ON'" (checkedChange)="toggle(device.state !== 'ON')"></nb-toggle></div>
          <div class="col-sm-8"><mat-slider min="0" max="254" thumbLabel tickInterval="1" [value]="device.brightness" (input)="changeBrightness($event)" style="display: block"></mat-slider></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><nb-radio [checked]="colorTempModeEnabled" (click)="changeColorTemp()"></nb-radio></div>
          <div class="col-sm-2"><nb-icon icon="thermometer-outline"></nb-icon></div>
          <!-- <div class="col-sm-10"><input class="input-full-width" type="number" style="padding: 0; width: 100%"></div> -->
          <div class="col-sm-8"><mat-slider min="1" max="500" thumbLabel tickInterval="1" [(value)]="selectedColorTemp" (input)="changeColorTemp($event)" (change)="updateValuesFromDevice()" style="display: block"></mat-slider></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><nb-radio [checked]="colorModeEnabled" (click)="changeColor()"></nb-radio></div>
          <div class="col-sm-2"><nb-icon icon="color-palette-outline"></nb-icon></div>
          <div class="col-sm-8"><ngx-colors ngx-colors-trigger name="colorPicker" [(ngModel)]="selectedColor" (input)="changeColor()"></ngx-colors></div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</ng-container>